* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.3s ease, background 0.3s ease;
}

.menu {
  display: flex;
}

.menu li a {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 22px;
  transition: all 0.5s ease;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

span {
  color: #ffa343;
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a:first-child {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.h-right a {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 18px;
  color: white;
  transition: all 0.5s ease;
}

.h-right a:hover {
  color: #ffa343;
  transform: translatey(-4px);
}

.menu li a:hover {
  color: #ffa343;
  transform: translate(0, -4px);
}

section {
  padding: 66px 10%;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)
    ),
    url(./mainimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.home h5 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 35px;
  margin-bottom: 0px;
  color: #ffa343;
}

.home h1 {
  font-size: 103px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 7.5rem;
}

.home p {
  font-size: large;
  color: white;
  margin-bottom: 35px;
  line-height: 30px;
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ffa343;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  font-weight: 600;
  transition: all 0.5s ease;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid white;
  background-color: transparent;
  transform: translateX(8px);
  color: white;
}

@media (max-width: 768px) {
  .h-right,
  .menu {
    visibility: hidden;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease, background 0.3s ease;
  }

  .home {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6)
      ),
      url(./mainimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .home h5 {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 55px;
    margin-bottom: 20px;
    color: #ffa343;
  }

  .home h1 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 4rem;
    margin-top: 15px;
  }

  .home p {
    font-size: large;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 30px;
    font-weight: 500;
  }

  .btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #ffa343;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    margin-top: 20px;
  }

  .btn:hover {
    border: 2px solid white;
    background-color: transparent;
    transform: translateX(8px);
    color: white;
  }
}

/* section 2 */

.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.row-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.row-img:hover {
  transform: scale(1.2);
}

.row-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-content h4 {
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.feature-content h4:hover {
  color: #ffa343;
}

@media (max-width: 768px) {
  .feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .row-img {
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .row-img:hover {
    transform: scale(1.2);
  }

  .row-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feature-content h4 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .feature-content h4:hover {
    color: #ffa343;
  }
}
/* section 3 */

.fashion-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}

.fashion-blog img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.fashion-blog-text h5 {
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: -60px;
  margin-bottom: 10px;
  color: #ffa343;
}

.fashion-blog-text h2 {
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 6.5rem;
}

#btn2 {
  margin-top: 60px;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .fashion-blog {
    grid-template-columns: 1fr; /* Change to a single column layout */
    /* Center text for better aesthetics */
  }
  .fashion-blog img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  .fashion-blog-text {
    margin-top: 20px; /* Add some space above the text */
  }

  .fashion-blog-text h2 {
    margin-top: 10px;
    font-size: 50px;
    line-height: 60px; /* Adjust font size for smaller screens */
  }

  .fashion-blog-text h5 {
    font-size: 16px; /* Adjust font size */
  }

  #btn2 {
    margin-top: 40px; /* Adjust button spacing */
  }
}

/* section 4  */

.center-text {
  text-align: center;
}

.center-text h2 {
  font-size: white;
  font-weight: 800;
}

.brand-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.box {
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  filter: brightness(70%);
  transition: all 0.3s cubic-bezier(0.499, 0.05, 0.5, 0.9);
  will-change: filter;
}

.box h6 {
  position: absolute;
  left: 25px;
  bottom: 45px;
  font-size: 18px;
  font-weight: 500;
}

.box h4 {
  position: absolute;
  left: 25px;
  bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.box:hover img {
  filter: brightness(120%);
  transform: scale(1.1);
  cursor: pointer;
  color: black;
}
#btn3 {
  margin-top: 60px;
  margin-left: 41.5%;
}

@media (max-width: 768px) {
  #btn3 {
    margin-top: 20px;
    margin-left: 80px;
  }
}

/* section 5 */

/* section 6 */

.newslatter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin-top: 0px;
}

.newslatter-content h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 15px;
}

.newslatter-content p {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.newslatter-content form input:first-child {
  padding: 20px;
  background: #202020;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 18px;
  color: beige;
}

@media (max-width: 768px) {
  .newslatter-content {
    grid-template-columns: 1fr; /* Change to a single column layout */
    /* Center align text */
  }

  .newslatter-content form {
    display: flex; /* Change to flexbox for vertical stacking */
    flex-direction: column; /* Stack children vertically */
  }

  .newslatter-content input[type="email"] {
    width: 100%; /* Make email input take full width */
    margin-bottom: 10px; /* Space between input and button */
  }

  .newslatter-content h2 {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .newslatter-content p {
    font-size: 16px; /* Adjust paragraph font size */
  }
}

/* section 7 */

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));

  gap: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box a {
  color: rgb(172, 170, 170);
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.footer-box a:hover {
  color: #ffffff;
  transform: translateX(7px);
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  background-color: #202020;
  margin-right: 10px;
  transition: transform 0.5s;
  margin-top: 10px;
}

.social a:hover {
  background: #ffffff;
  color: black;
  transform: scale(1.2);
}

.copyright {
  padding: -10px;
  text-align: center;
  color: #ffffff;
  margin-top: -40px;
  margin-bottom: -80px;
}



header {
  padding: 20px 10%;
}

.menu {
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a {
  margin-left: 20px;
}
